.blog-page {

    .row-flex {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .employment,
    .image-box {
        width: 65%;
    }

    .image-box {
        right: 0;
        top: -300px;
    }

    .employment {
        padding: 380px 0 80px 0;
        
        border-left: 10px solid $our-yellow;
        border-bottom: 10px solid $our-yellow;
    }

    .featured {
        width: 20%;
    }






} // /.blog-page