.blog-page {

    .row-flex {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .employment {
        width: 70%;
    }

    .featured {
        width: 20%;
    }






} // /.blog-page