// variables
// $our-yellow: rgb(255, 211, 0);
// $almost-black: rgb(23, 27, 14);
// $pine: rgb(43, 51, 27);
// $our-black: rgb(15, 15, 15); 

// styles for the header and its contents go here

header {
    height: 90vh;
    max-height: 800px;
    padding: 50px 0;
    margin-bottom: calc(15vw - 55px);

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

    position: relative;

    nav ul {
        display: flex;
        width: 35%;
        margin-bottom: 50px;
        justify-content: space-between;

        a {
            padding: 10px 20px;
        }

        a:hover,
        a:focus {
            box-shadow: 0 4px $our-yellow;
        }
    }

    .spill-image {
        position: absolute;
        width: 58%;
        height: auto;
        right: 0;
        top: 170px;
    }

}

.header-index {
    background-image: url(../the-restaurant-mall-assets/home-header.jpg);
}

.header-contact {
    background-image: url(../the-restaurant-mall-assets/contact-header.jpg);
}

.header-blog {
    background-image: url(../the-restaurant-mall-assets/blog-header.jpg);
}

h1 {
    width: 53%;

    .highlight-effect {
        display: inline-block;
        padding: 15px 10px 0 10px;
        margin-bottom: 15px;
        color: $almost-black;
        background-color: #fff;
    }
}

// Media queries begin here

@media (max-width: 580px) {
        h1 {
            font-size: 5.9rem;
            font-weight: 600; 
        }
} // @media (max-width: 580px) 

@media (max-width: 448px) {
        h1 {
            font-size: 4.0rem;
            font-weight: 600; 
        }
} // @media (max-width: 448px) 