
// styles for the header and its contents go here

header {

    // base dimensions here

    height: 90vh;
    max-height: 800px;
    padding: 50px 0;
    margin-bottom: calc(15vw - 55px);

    // background image parameters

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

    position: relative;

    nav ul {
        display: flex;
        width: 35%;
        margin-bottom: 50px;
        justify-content: space-between;

        a {
            padding: 10px 20px;
        }

        a:hover,
        a:focus {
            box-shadow: 0 4px $our-yellow;
        }
    }

    .spill-image {
        position: absolute;
        width: 58%;
        height: auto;
        right: 0;
        top: 170px;
    }

} // / header


// these classes define background images
// for different pages

.header-index {
    background-image: url(../the-restaurant-mall-assets/home-header.jpg);
}

.header-contact {
    background-image: url(../the-restaurant-mall-assets/contact-header.jpg);
}

.header-blog {
    background-image: url(../the-restaurant-mall-assets/blog-header.jpg);
}


h1 {
    width: 53%;
    margin-top: 150px;

    .highlight-effect {
        display: inline-block;
        padding: 15px 10px 0 10px;
        margin-bottom: 15px;
        color: $almost-black;
        background-color: #fff;
    }
}

// Media queries begin here

@media (max-width: 580px) {

    header nav {
        display: inline-block;
        width: 100%;
        min-width: 320px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $our-black;
        z-index: 1;
        border-radius: 7px;

        ul {
            width: 100%;
            flex-wrap: wrap;
            margin: 0;
            text-align: center;
        }

        li {
            width: 50%;
        }

        .nav-link {
            width: 100%;
            font-size: 2.5rem;
        }
    }
        
    h1 {
        font-size: 5.9rem;
        font-weight: 600; 
    }


} // @media (max-width: 580px) 

@media (max-width: 448px) {
    h1 {
        font-size: 4.0rem;
        font-weight: 600; 
    }
} // @media (max-width: 448px) 