// variables
$our-yellow: rgb(255, 211, 0);
$almost-black: rgb(23, 27, 14);
$pine: rgb(43, 51, 27);
$our-black: rgb(15, 15, 15); 

.index-page {
    .quadrant {
        width: 50%;
    }

    .section-1 {
        margin-bottom: 100px;

        .quadrant {
            padding: 20px 0;
            padding-left: 70px;
            position: relative;
        }

        h2::before {
            content: "";
            
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            background-color: $our-yellow;
            
            position: absolute;
            left: 5px;
            top: 42px;
        } // /.h2::before

        // fontawesome styling for icons
        // that will go in the section-2
        // pseudo elements

        .icon::before {

            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            
            font-family: "Font Awesome 5 Pro";
            font-weight: 600;
            font-size: 2.6rem;
            color: $pine;

            position: absolute;
            top: 18px;
        }

        .location-icon::before {
            content: "\f3c5";
            left: 20.5px;
        }

        .community-icon::before {
            content: "\f0c0";
            left: 14px;
        }

        .blog-icon::before {
            content: "\f15b";
            left: 21px;
        }

        .contact-icon::before {
            content: "\f095";
            left: 18px;
        }

    } // /.section-1

    .section-2 {
        background: $almost-black;

        .row-flex {
            justify-content: space-between;
        }

        .quadrant {
            width: 44%;
        }

        .text-box {
            padding: 40px 0;

            p {
                margin-bottom: 40px;
            }
        }

        .text-left p {
            padding-right: 5%;
        }

        .text-right p {
            padding-left: 5%;
        }
        
        .left-pic {
            bottom: 50px;
        }

        .right-pic {
            top: 50px;
        }

    } // /.section-2

    .section-3 {
        padding-top: 150px;
        text-align: center;

        p {
            margin-bottom: 50px;
        }

        .splash-image {
            width: 100%;
            max-height: 400px;
            margin-top: 100px;
        }

    } // /.section-3

    .section-4 {
        margin-top: 20px;
        padding: 100px 0;

        .image-box {
            width: 25%;
        }

        .text-box {
            width: 70%;

            p {
                margin-bottom: 25px;
            }
        }

        .row-flex {
            justify-content: space-between;
        }
    } // /.section-4

    .section-5 {
        background: $almost-black;
        
        padding: 100px 0;

        .row-flex {
            justify-content: space-between;
        }

        li {
            width: 30%;
        }
    }


    // Media queries begin here

    @media (max-width: 1156px) {

        .spill-image {
            display: none;
        }

        .section-4 {
            text-align: center;

            h2 {
                font-size: 3.5rem;
                line-height: 8.98rem;
            }

            .image-box {
                width: 40%;
                margin: 0 auto;
            }

            .text-box {
                width: 100%;
                margin-top: 40px;
            }
        }

    } // @media (max-width: 1156px)

    @media (max-width: 1000px) {
        
        .section-1 .quadrant,
        .section-2 .quadrant {
            width: 100%;
            text-align: center;
            padding: 30px 0;
            margin: 0;
        }

        .section-2 .left-pic,
        .section-2 .right-pic {
            width: 70%;
        }

        .section-2 p {
            // this pretends to be a wrapper!
            // otherwise it messes with the 
            // image boxes in the other two
            // quadrants

            padding-left: 5%;
            padding-right: 5%;
        }

    } // @media (max-width: 1000px)

    @media (max-width: 580px) {
        h1 {
            font-size: 5.9rem;
            font-weight: 600; 
        }


        h2 {
            font-size: 3.5rem;
            line-height: 8.98rem;
        }

        a,
        p {
            font-size: 1.8rem;
            letter-spacing: 1px;
        }

        .section-1 .icon::before {
            top: 23px;
        }

        .section-5 {

            li {
                width: 80%;
            }

            li:nth-of-type(2) {
                padding: 30px 0;
            }

            .row-flex {
                justify-content: center;
            }
        }

        // .section-5 li:nth-of-type(2) {
        //         padding: 30px 0;
        //     }


    } //@media (max-width: 580px)

    @media (max-width: 448px) {
        h1 {
            font-size: 4.0rem;
            font-weight: 600; 
        }


        h2,
        .section-4 h2 {
            font-size: 2.5rem;
            line-height: 5.98rem;
        }

        a,
        p {
            font-size: 1.6rem;
            letter-spacing: 1px;
        }

        .section-1 h2:before {
            width: 4rem;
            height: 4rem;

            left: 8px;
            top: 32px;
        }

        .section-1 .icon::before {
            top: 23px;
            font-size: 2.0rem; 
        }
    }

} // /.index-page