// variables
$our-yellow: rgb(255, 211, 0);
$almost-black: rgb(23, 27, 14);
$pine: rgb(43, 51, 27);
$our-black: rgb(15, 15, 15); 

.index-page {
    .quadrant {
        width: 50%;
    }

    .section-1 {
        margin-bottom: 100px;

        .quadrant {
            padding: 20px 0;
            padding-left: 70px;
            position: relative;

            // to do: add icons to pseudos' content

            h2::before {
                content: "";
                display: inline-block;
                
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
                background-color: $our-yellow;
                
                position: absolute;
                left: 5px;
                top: 42px;
            }
        }
    }

    .section-2 {
        background: $almost-black;

        .row-flex {
            justify-content: space-between;
        }

        .quadrant {
            width: 44%
        }

        .text-box {
            padding: 40px 0;

            p {
                margin-bottom: 40px;
            }
        }

        .text-left p {
            padding-right: 5%;
        }

        .text-right p {
            padding-left: 5%;
        }
        


    }
}